# Ignorer les fichiers sensibles
key.json

# Ignorer les fichiers de dépendances
node_modules/

# Ignorer les fichiers temporaires
*.log
*.env

# Ignorer les fichiers de système (Windows, Mac, etc.)
.DS_Store
Thumbs.db
